<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793980110361-i2mo29nh3485qovh2aid68mth6qfg4dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793980110361-i2mo29nh3485qovh2aid68mth6qfg4dp</string>
	<key>API_KEY</key>
	<string>AIzaSyDWrdfbDNA2GDq2zdb11sQQEcRKY_1n2r0</string>
	<key>GCM_SENDER_ID</key>
	<string>793980110361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gresso.GressoApp</string>
	<key>PROJECT_ID</key>
	<string>gresso-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gresso-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793980110361:ios:3a8a7c83b920bd6b774c88</string>
</dict>
</plist>